.input-layer {
    margin: 30px auto;
    width: 95%;
    max-width: 400px;
    position: relative;
    height: 45px;
}

.sign-in-logo {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 150px;
}

.errorlist {
    list-style: none;
    font-family: Calibri, sans-serif;
    color: crimson;
    display: flex;
    width: 96%;
    padding: 2% 2% 2% 0;
    margin: 0 auto;
}

.errorlist li {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 0.9em;
}

.height-auto {
    height: auto !important;
}

.error {
    height: 15px;
    color: crimson;
    font-family: calibri, sans-serif;
    font-size: 12px;
    padding: 2px;
    margin: 3px 0 0;
}

.flash, .flash-inactive {
    display: block;
    position: relative;
    background: #b1b1b1;
    margin: 0 auto;
    height: 1px;
    width: 0;
    z-index: 20;
    transition: all 0.5s cubic-bezier(.08, .7, 0, 1.03);
}

.flash-active {
    width: 100%;
    background: var(--lively-text-color);
    z-index: 10;
}

.placeholder {
    background: transparent;
    z-index: 15;
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 100%;
    position: absolute;
    top: 0;
    height: 29px;
    width: 100%;
    pointer-events: none;
    color: var(--universal-text-color);
    transition: all 0.5s cubic-bezier(.08, .7, 0, 1.03);

}

.placeholder-raised {
    top: -18px;
    color: var(--lively-text-color) !important;
    font-size: 80%;
}

form {
    height: 100%;
}

input {
    border: none;
    background: transparent;
}

.flash-inactive {
    background: #b1b1b1;
    width: 100%;
    z-index: 5;
}

.data {
    height: 29px;
    font-family: "Segoe UI", Calibri, sans-serif;
    font-size: 110%;
    position: relative;
    top: 0;
    padding: 0;
    width: 100%;
}

.select {
    width: auto;
    color: var(--lively-text-color);
    font-family: Calibri, sans-serif;
    font-size: 100%;
    list-style: none;
    transition: all 0.3s ease-in;
    transform: scale(0);
    max-height: 180px;
    height: auto;
    position: absolute;
    top: 41px;
    box-shadow: 0 0 2px 1px #b1b1b1;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 500;
    background: #f7f7f7;
    padding-top: 5px;
}

.select-visible {
    transform: scale(1);
}

.select .option {
    height: 30px;
    display: inline-flex;
    width: 100%;
    padding-left: 20px;
    cursor: pointer;
    align-items: center;
}

.select .option:hover {
    color: var(--universal-text-color);
    background: #ccd8ff;
}

.select-val, .block-input {
    width: 100% !important;
    background: rgba(240, 240, 240, 0.5);
    height: 40px;
    padding: 0 20px 0 20px;
    border-radius: 5px;
    font-family: Calibri, sans-serif;
    font-size: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(90, 90, 90, 0.6);
    cursor: pointer;
    transition: all 0.4s ease-in;
    position: relative;
}

.select-val i {
    transition: all 0.5s ease-out;
}

.select-layer {
    width: fit-content;
    overflow: visible;
    margin: 15px auto;
    display: flex;
}

.select-layer select {
    display: none;
}

.rotated {
    transform: rotate(180deg);
}

.limit-width {
    width: 96%;
    max-width: 400px;
    margin: 0 auto;
}

.flag-img {
    width: 20px;
    height: 15px;
}

.block-input {
    height: 40px;
    width: available;
}

#strength {
    height: 4px;
    background: #f0f0f0;
    width: 50%;
    display: inline-flex;
    transition: all 1s cubic-bezier(.08, .7, 0, 1.03);
}

#strength div {
    height: 100%;
    width: 0;
    background: var(--lively-text-color);
    transition: inherit;
}

#strength-val, #strength-lbl {
    width: 15%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.floating-form {
    width: 98%;
    height: 93%;
    margin: 1% auto;
    padding: 1%;
    background: var(--bright-text-color);
    box-shadow: 0 0 5px 3px var(--universal-text-color);
    background: var(--bright-background) no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow-y: auto;
}

@keyframes pulsate {
    0% {
        width: 100%;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes pulsate {
    0% {
        width: 100%;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.load-mode .flash {
    background: var(--lively-text-color);
    -moz-animation: pulsate 1s infinite;
    animation: pulsate 1s infinite;
}

.placeholder-hidden {
    top: -18px;
    font-size: 80%;
}


@media screen and (max-width: 600px) {
    .floating-form {
        height: 100%;
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }
}