{% extends "base.html" %}
{% load static %}
{% block styles %}
    {% comment "additional stylesheets for this template go here" %}{% endcomment %}
    <link rel="stylesheet" href={% static "css/home.css" %}>
{% endblock %}
{% block header %}
    <div class="menubar">
        <p class="logo-text menubar left"><img alt="ntech-logo" src={% static "images/favicon.png" %}>tech</p>
        <ul id="menubar" class="menubar left" role="menubar">
            <li class="menuitem active"><a>Home</a></li>
            <li class="menuitem"><a href={% url "info:schedule" %}>Schedule</a></li>
            <li class="menuitem"><a href={% url "info:faq" %}>FAQ</a></li>
            <li class="menuitem"><a href={% url "info:about" %}>About</a></li>
        </ul>
    </div>
    <div id="menu-actions" class="menubar force-right">
        {% if user.is_authenticated %}
            <a class="medium-description blue" href={% url "accounts:profile" %}><i
                    class="ion-ios-person"></i>&nbsp;{{ user.username }}</a>&nbsp;
            <a title="Sign out" class="medium-description round-btn" href={% url "accounts:logout" %}><i
                class="ion-log-out"></i></a>
        {% else %}
            <a class="medium-description blue" href={% url "accounts:login" %}><i class="ion-ios-person"></i>&nbsp;Sign
                in</a>
        {% endif %}
    </div>
    <p id="menu-btn" class="menubar force-right" style="padding: 0 10px 0 10px"><i
            class="ion-android-menu medium-description" style="font-size: 1.5em"></i></p>
{% endblock %}
{% block content %}
    <div class="overlay invisible">
        <!--For responsive menu. Ensure it is present for pages with the responsive menu-->
        <div id="menu-list" class="ruled hidden">
            <ul role="menubar">
                <li class="menuitem-v active"><a><i class="ion-ios-home"></i>Home</a></li>
                <li class="menuitem-v"><a href={% url "info:schedule" %}><i class="ion-ios-stopwatch blue"></i>Schedule</a>
                </li>
                <li class="menuitem-v"><a href={% url "info:faq" %}><i class="ion-help-circled blue"></i>FAQ</a></li>
                <li class="menuitem-v"><a href={% url "info:about" %}><img width="20px" height="20px" alt="ntect-logo"
                                                        src={% static "images/favicon.png" %}>&nbsp;About</a></li>
            </ul>
            <hr style="width: 80%;margin: 20px auto">
            <ul role="menubar">
                <li class="menuitem-v blue"><a href={% url "accounts:register" %}><i class="ion-ios-person"></i>Register</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="menuitem-v blue"><a href={% url "accounts:profile" %}><i class="ion-ios-person"></i>&nbsp;{{ user.username }}
                    </a></li>
                    <li class="menuitem-v blue"><a href={% url "accounts:logout" %}><i class="ion-log-out"></i>&nbsp;Sign
                        out</a></li>
                {% else %}
                    <li class="menuitem-v blue"><a href={% url "accounts:login" %}><i class="ion-log-in blue"></i>Sign
                        in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="main-desc" class="container medium-description waypoint">
        <img id="logo-img" class="left img" src={% static "images/ntech.png" %}>
        <div id="main-desc-text" class="medium-description">
            <p class="large-description container">Ntech Hackathon 2019</p>
            <strong>N-Tech</strong> (<i>New Technologists & Innovators</i>) is a youth-led initiative that aims to
            empower youth to drive technological advancements as the fourth Industrial Revolution unveils. Young
            people today are going to be the leaders of tomorrow. But, is it not mismatching that one third of the,
            rapidly accelerating, youth population in Africa is unemployed today?<br>
            N-Tech hackathon is an annual event and we are currently seeking
            Participants (undergraduate or graduate university students) and sponsors for this year's event. They will
            team-up
            depending on topics that they are mutually interested in, work together for 30 hours to develop a solution
            to the prompt. Thereafter, submissions will be evaluated by a panel of judges and the selected finalists
            will pitch their ideas to the organizations. Top teams will then be selected.
        </div>
    </div>
    <div class="container ruled waypoint" style="height: 40px; margin-top: 20px;padding-bottom: 20px">
        <a href={% url "accounts:register" %}>
            <button class="blue-btn center" style="width: 120px;">Register</button>
        </a>
        <a href={% url "info:about" %}>
            <button class="blue-btn center" style="width: 120px;">Read more</button>
        </a>
    </div>
    <p class="large-description blue waypoint">Currently involving three countries</p>
    <p class="container blockquote waypoint-side" style="max-width: 800px">
        This year, 2019, it will concurrently be hosted in Kenya, Rwanda, and Uganda (we hope to expand in the future).
        Each country will have a theme
        that relates to some of the major issues but still contributes to our overall mission, empowering youth to
        take the lead in the fourth industrial revolution.
    </p>
    <div class="container">
        <img id="map-img" class="wide-img center waypoint" alt="countries-kenya-uganda-rwanda"
             src={% static "images/map.png" %}>
    </div>
    <div id="commentaries" class="ruled">
        <div class="commentary waypoint-side" style="background: rgba(225, 77, 17, 0.28)">
            <img class="comm-prof-img" src={% static "images/rwanda.jpg" %}>
            <p class="small-description comm-text">
                Ntech hackathon is a novel way of bringing young people to put their heads together for the
                realisation of goals that will propel Africa to greater heights. We at Rwanda are proud to be part of
                this groundbreaking initiative.
            </p>
            <p class="commentor right">~ Resire, Rwanda</p>
        </div>
        <div class="commentary waypoint-side" style="background: rgba(113, 197, 241, 0.24)">
            <img class="comm-prof-img" src={% static "images/uganda.jpg" %}>
            <p class="small-description comm-text">
                When I first heard of this innovative endeavour I knew that I would not let this slip away. I have
                always wondered how I would lend a hand in making Uganda and continent great and alas! This is it,
                the Ntech hackathon. A chance for me to breathe life into ideas that will move Africa.
            </p>
            <p class="commentor right">~ Silas, Uganda</p>
        </div>
        <div class="commentary waypoint-side terminate" style="background: rgba(171, 141, 193, 0.28);">
            <img class="comm-prof-img" src={% static "images/kenya.jpg" %}>
            <p class="small-description comm-text">
                Technology in Africa is like a sprouting seedling which I among others, through the Ntech hackathon,
                intend to tend to till it's a massive tree. A massive tree under which future generations can enjoy a
                soothing shade. Generations not just from Kenya or this continent but from the entire globe.
            </p>
            <p class="commentor right">~ Ronald, Kenya</p>
        </div>
    </div>
    <p class="large-description container waypoint" id="social-intro" style="margin-top: 40px;">Know more about us</p>
    <p class="small-description container waypoint" style=";max-width: 600px; margin: 0 auto">Follow, Add and and friend
        us on all popular platforms
        and get to experience the great things we do. Find our groundbreaking creations on github. We really hope you
        can
        add to our vast collection.</p>
    <div class="container" id="social">
        <div class="social-link waypoint-side">
            <a href="#">
                <i class="ion-social-instagram"></i>
                <span>Instagram</span>
            </a>
        </div>
        <div class="social-link waypoint-side">
            <i class="ion-social-facebook"></i>
            <span>Facebook</span>
        </div>
        <div class="social-link waypoint-side">
            <i class="ion-social-twitter"></i>
            <span>Twitter</span>
        </div>
        <div class="social-link waypoint-side terminate">
            <i class="ion-social-github"></i>
            <span>Github</span>
        </div>
    </div>
{% endblock %}