{% load staticfiles %}
<div class="complete-overlay hidden" id="password-reset-popup">
    <i id="cancel_reset" class="ion-ios-close-empty medium-description round-btn float-top-left"></i>
    <form id="password-reset" method="post" class="floating-form limit-width" autocomplete="off">
        {% csrf_token %}
        <p class=" container medium-description blue limit-width">
            Password reset
        </p>
        <input id="current-user" type="text" value="{{ user.username }}" hidden>
        <div class="input-layer">
            <span class="placeholder"><i class="ion-ios-locked"></i>&nbsp;&nbsp;Old password</span>
            <input id="old_password" type="password" class="data" name="old_password" title="Old password"><br>
            <div class="flash"></div>
            <div class="flash-inactive"></div>
            <p class="error" id="ol-pw-err"></p>
        </div>
        <div class="container limit-width" style="display: block">
            <p class="container small-description">
                security information. Use a strong alphanumeric password preferably above 90%
            </p>
            <span id="strength-lbl" class="small-description" style="width:30%">Strength</span>
            <div id="strength">
                <div id="strength-bar"></div>
            </div>
            <span id="strength-val" class="small-description">0 %</span>
        </div>
        <div class="input-layer">
            <span class="placeholder"><i class="ion-ios-locked"></i>&nbsp;&nbsp;Password</span>
            <input id="password" type="password" class="data" name="new_password1" title="password"><br>
            <div class="flash"></div>
            <div class="flash-inactive"></div>
            <p class="error" id="pw-err"></p>
        </div>
        <div class="input-layer">
            <span class="placeholder"><i class="ion-ios-locked"></i>&nbsp;&nbsp;Confirm password</span>
            <input id="password2" type="password" class="data" name="new_password2" title=" confirm password"><br>
            <div class="flash"></div>
            <div class="flash-inactive"></div>
            <p class="error" id="pw2-err"></p>
        </div>
        <div class="container" style="margin:60px 0 0 0">
            <button id="submit-reset" class="blue-btn" style="height: 35px">
                Change password&nbsp;
                <img class="loader-img right hidden" src={% static "images/loaders/tail-spin.svg" %}>
            </button>
        </div>
    </form>
</div>