{% extends "base.html" %}
{% load static %}
{% block styles %}
    {% comment "additional stylesheets for this template go here" %}{% endcomment %}
    <link rel="stylesheet" href={% static "css/home.css" %}>
    <link rel="stylesheet" href={% static "css/forms.css" %}>
{% endblock %}
{% block header %}
    <div class="menubar">
        <p class="logo-text menubar left"><img alt="ntech-logo" src={% static "images/favicon.png" %}>tech</p>
        <ul id="menubar" class="menubar left" role="menubar">
            <li class="menuitem"><a href={% url "info:home" %}>Home</a></li>
            <li class="menuitem"><a href={% url "info:schedule" %}>Schedule</a></li>
            <li class="menuitem"><a href={% url "info:faq" %}>FAQ</a></li>
            <li class="menuitem"><a href={% url "info:about" %}>About</a></li>
        </ul>
    </div>
    <div id="menu-actions" class="menubar force-right">
        <a class="medium-description blue" href={% url "accounts:profile" %}>
            <img class="thumbnail left user-img" src="{{ user.profile.get_avatar }}">&nbsp;
            {{ user.username }}
        </a>&nbsp;
        <a title="Sign out" class="medium-description round-btn" href={% url "accounts:logout" %}><i
                class="ion-log-out"></i></a>
    </div>
    <p id="menu-btn" class="menubar force-right" style="padding: 0 10px 0 10px"><i
            class="ion-android-menu medium-description" style="font-size: 1.5em"></i></p>
{% endblock %}
{% block content %}
    {% include "profile_update.html" %}
    {% include "passsword_reset.html" %}
    {% include "image_cropper.html" %}
    <div class="overlay invisible">
        <!--For responsive menu. Ensure it is present for pages with the responsive menu-->
        <div id="menu-list" class="ruled hidden">
            <ul role="menubar">
                <li class="menuitem-v"><a href={% url "info:home" %}><i class="ion-ios-home"></i>Home</a></li>
                <li class="menuitem-v"><a href={% url "info:schedule" %}><i class="ion-ios-stopwatch blue"></i>Schedule</a>
                </li>
                <li class="menuitem-v"><a href={% url "info:faq" %}><i class="ion-help-circled blue"></i>FAQ</a></li>
                <li class="menuitem-v"><a href={% url "info:about" %}><img width="20px" height="20px" alt="ntect-logo"
                                                        src={% static "images/favicon.png" %}>&nbsp;About</a></li>
            </ul>
            <hr style="width: 80%;margin: 20px auto">
            <ul role="menubar">
                <li class="menuitem-v blue"><a href={% url "accounts:register" %}><i class="ion-ios-person"></i>Register</a>
                </li>
                <li class="menuitem-v blue"><a href={% url "accounts:logout" %}><i class="ion-log-out"></i>&nbsp;Sign
                    out</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-structure">
        <!--
        To utilise the tab utility, add the tab selector in the tab-nav div first
        Then add the tab body in the tab-body div
        Supposing the id of the selector is "personal" then the body id will be "_personal"
        An underscore is appended to allow the tab rendering utility to handle switches for you
        All tab selectors should have the class nav-item
        All tab bodies should have the class tab-content
        The entire tab structure should then be used to initialize a Notebook instance. See script below for example.
        -->
        <div class="tab-nav">
            <p id="personal" class="nav-item"><i class="ion-ios-person"></i>&nbsp;Personal info</p>
            <p id="team" class="nav-item"><i class="ion-ios-people"></i>&nbsp;Teams</p>
            <p id="awards" class="nav-item"><i class="ion-ios-box"></i>&nbsp;Awards</p>
        </div>
        <div class="tab-body">
            <div class="tab-content tab-selected" id="_personal">
                <div class="tab-scrolled-body">
                    <div class="container">
                        <img class="medium-profile-image user-img" src="{{ user.profile.get_avatar }}">
                    </div>
                    <div class="tab-button-holder force-centre">
                        <button class="blue-btn slight-margin" id="update_info">Change</button>
                        <button class="blue-btn slight-margin" id="reset_password">Reset password</button>
                        <button class="blue-btn slight-margin" id="update-profile">Change profile image</button>
                        {% if user.is_staff %}
                            <button class="blue-btn slight-margin"><a href="/config">Admin panel</a></button>
                        {% endif %}
                    </div>
                    <p class="small-description ruled limit-width" style="padding-bottom: 10px;"><i
                            class="ion-ios-person"></i>&nbsp;Personal detail</p>
                    <div class="detail-group">
                        <div class="detail-pack">
                            <p class="label">Username</p>
                            <p class="value">{{ user.username }}</p>
                        </div>
                        <div class="detail-pack">
                            <p class="label">First Name</p>
                            <p class="value">{{ user.first_name }}</p>
                        </div>
                        <div class="detail-pack">
                            <p class="label">Last Name</p>
                            <p class="value">{{ user.last_name }}</p>
                        </div>
                        <div class="detail-pack">
                            <p class="label">Age</p>
                            <p class="value">{{ user.profile.age }} yrs</p>
                        </div>
                        <div class="detail-pack">
                            <p class="label">Gender</p>
                            <p class="value">
                                {% if user.profile.gender == 'Female' %}
                                    <i class="ion-female"></i>
                                {% else %}
                                    <i class="ion-male"></i>
                                {% endif %}
                                &nbsp;
                                {{ user.profile.gender }}
                            </p>
                        </div>
                        <div class="detail-pack">
                            <p class="label">Nationality</p>
                            <p class="value">
                                <img class="flag-img" alt="{{ user.profile.country }}"
                                     src="{{ user.profile.country.flag.url }}">&nbsp;
                                {{ user.profile.country }}
                            </p>
                        </div>
                        <div class="detail-pack" style="max-width: 600px">
                            <p class="label">Institution</p>
                            <p class="value">{{ user.profile.institution }}</p>
                        </div>
                    </div>
                    <div class="detail-group">
                        <p class="small-description ruled limit-width" style="padding-bottom: 10px;"><i
                                class="ion-android-call"></i>&nbsp;Contact information</p>
                        <div class="detail-pack" style="max-width: 600px">
                            <p class="label">Email</p>
                            <p class="value">{{ user.email }}</p>
                        </div>
                        <div class="detail-pack">
                            <p class="label">Mobile contact</p>
                            <p class="value">{{ user.profile.mobile }}</p>
                        </div>
                    </div>
                    <div class="detail-group">
                        <p class="small-description limit-width" style="padding-bottom: 10px;">
                            <i class="ion-wand"></i>&nbsp;Personal Skills</p>
                        <div class="container limit-width tag-container">
                            {% for skill in user.profile.skills_list %}
                                <span class='tag small-description'>{{ skill }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="_awards">
                <p class="large-description blue container">
                    <i class="ion-ios-box-outline blue" style="font-size: 5em"></i>
                </p>
                <p class="large-description container">Looks like you need to keep working!</p>
                <p class="container medium-description" style="display: block;text-align: center">
                    You still have time! Any prizes you receive will appear here but till then you gotta work.
                </p>
            </div>
            <div class="tab-content" id="_team">
                <p class="large-description blue container">
                    <i class="ion-ios-people blue" style="font-size: 5em"></i>
                </p>
                <p class="large-description container">You have not been placed in any team yet!</p>
                <p class="container medium-description limit-width" style="display: block;text-align: center">
                    All the teams you belong to will appear here. Most if not all challenges are done in teams.
                    <br>You will be automatically placed into a team but you can also create your own team.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src={% static "js/validators.js" %}></script>
    <script>
        //Let's now bind our tab arrangement to the rendering class Notebook
        const DashboardTab = new NoteBook($(".tab-structure"));
        Initial.username = "{{ user.username }}";
        Initial.email = "{{ user.email }}";
        activate_tags();
    </script>
    <script src={% static "js/image_cropper.js" %}></script>
{% endblock %}
