{% extends "base.html" %}
{% load static %}
{% block styles %}
    {% comment "additional stylesheets for this template go here" %}{% endcomment %}
    <link rel="stylesheet" href={% static "css/forms.css" %}>
{% endblock %}
{% block header %}
    <div class="menubar">
        <p class="logo-text menubar left"><img alt="ntech-logo" src={% static "images/favicon.png" %}>tech</p>
        <ul id="menubar" class="menubar left" role="menubar">
            <li class="menuitem"><a href={% url "info:home" %}>Home</a></li>
            <li class="menuitem"><a href="#">Schedule</a></li>
            <li class="menuitem"><a href="#">FAQ</a></li>
            <li class="menuitem"><a href="#">About</a></li>
        </ul>
    </div>
    <div id="menu-actions" class="menubar force-right">
        {% if user.is_authenticated %}
            <a class="medium-description blue" href={% url "accounts:profile" %}><i
                    class="ion-ios-person"></i>&nbsp;{{ user.username }}</a>&nbsp;
            <a title="Sign out" class="medium-description round-btn" href={% url "accounts:logout" %}><i
                class="ion-log-out"></i></a>
        {% else %}
            <a class="medium-description blue" href={% url "accounts:login" %}><i class="ion-ios-person"></i>&nbsp;Sign
                in</a>
        {% endif %}
    </div>
    <p id="menu-btn" class="menubar force-right" style="padding: 0 10px 0 10px"><i
            class="ion-android-menu medium-description" style="font-size: 1.5em"></i></p>
{% endblock %}
{% block content %}
    <div class="overlay hidden">
        <!--For responsive menu. Ensure it is present for pages with the responsive menu-->
        <div id="menu-list" class="ruled">
            <ul role="menubar">
                <li class="menuitem-v"><a href={% url "info:home" %}><i class="ion-ios-home"></i>Home</a></li>
                <li class="menuitem-v"><a href="#"><i class="ion-ios-stopwatch blue"></i>Schedule</a></li>
                <li class="menuitem-v"><a href="#"><i class="ion-help-circled blue"></i>FAQ</a></li>
                <li class="menuitem-v"><a href="#"><img width="20px" height="20px" alt="ntect-logo"
                                                        src={% static "images/favicon.png" %}>&nbsp;About</a></li>
            </ul>
            <hr style="width: 80%;margin: 20px auto">
            <ul role="menubar">
                {% if user.is_authenticated %}
                    <li class="menuitem-v blue"><a href={% url "accounts:profile" %}><i class="ion-ios-person"></i>&nbsp;{{ user.username }}
                    </a></li>
                    <li class="menuitem-v blue"><a href={% url "accounts:logout" %}><i class="ion-log-out"></i>&nbsp;Sign
                        out</a></li>
                {% else %}
                    <li class="menuitem-v blue"><a href={% url "accounts:login" %}><i class="ion-log-in blue"></i>Sign
                        in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <p class="large-description container waypoint">Ntech Hackathon registration 2019</p>
    <p class="medium-description container waypoint center-text">
        The details below are required for individual registrations. If you wish to enter the hackathon <br>
        as a team, each team member should complete the individual registration<br>
        before proceeding to team registration
    </p>
    <div class="container waypoint" style="height: 40px; margin-top: 20px;padding-bottom: 20px">
        <a href="#">
            <button class="blue-btn center" style="width: 180px;margin: 10px auto">Team registration</button>
        </a>
    </div>
    <hr style="width: 80%;margin: 15px auto 10px" class="waypoint"/>
    <p class=" container medium-description waypoint blue">Individual registration</p>
    <form autocomplete="off" method="post">
        {% csrf_token %}
        <div class="container small-description blue waypoint">Contact information</div>
        <div class="input-layer waypoint-side">
            <span class="placeholder"><i class="ion-ios-person"></i>&nbsp;&nbsp;Username</span>
            <input id="username" type="text" name="username" class="data" title="alias"/><br>
            <div class="flash"></div>
            <div class="flash-inactive"></div>
            <p class="error" id="un-err"></p>
        </div>
        <div class="input-layer waypoint-side">
            <span class="placeholder"><i class="ion-ios-person"></i>&nbsp;&nbsp;First name</span>
            <input id="first_name" type="text" name="first_name" class="data" title="First name"/><br>
            <div class="flash"></div>
            <div class="flash-inactive"></div>
            <p class="error" id="fn-err"></p>
        </div>
        <div class="input-layer waypoint-side">
            <span class="placeholder"><i class="ion-ios-person"></i>&nbsp;&nbsp;Last name</span>
            <input id="last_name" type="text" name="last_name" class="data" title="Last name"/><br>
            <div class="flash"></div>
            <div class="flash-inactive"></div>
            <p class="error" id="ln-err"></p>
        </div>
        <div class="input-layer waypoint-side">
            <span class="placeholder"><i class="ion-android-mail"></i>&nbsp;&nbsp;Email</span>
            <input id="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" class="data"
                   title="email"/><br>
            <div class="flash"></div>
            <div class="flash-inactive"></div>
            <p class="error" id="em-err"></p>
        </div>
        <p class="placeholder container waypoint-side"><i class="ion-android-call"></i>&nbsp;&nbsp;Mobile contact</p>
        <div class="container limit-width ruled">
            <div class="input-layer select-layer" tabindex="0" style="width: 25%!important;">
                <select class="value-point" id="country_code" name="code" type="text">
                    {% for country in form.countries %}
                        <option value="{{ country.code }}">{{ country.code }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-layer waypoint-side" style="width: 70%!important; display: inline-block">
                <span class="placeholder">Phone number &nbsp;<i>e.g. 712345678</i></span>
                <input class="data" type="number" id="mobile" name="mobile">
                <div class="flash"></div>
                <div class="flash-inactive"></div>
            </div>
        </div>
        <p class="error limit-width" id="mb-err"></p>
        <div class="container limit-width waypoint" style="display: block">
            <p class="container small-description">
                security information. Use a strong alphanumeric password preferably above 90%
            </p>
            <span id="strength-lbl" class="small-description" style="width:30%">Strength</span>
            <div id="strength">
                <div id="strength-bar"></div>
            </div>
            <span id="strength-val" class="small-description">0 %</span>
        </div>
        <div class="input-layer waypoint-side">
            <span class="placeholder"><i class="ion-ios-locked"></i>&nbsp;&nbsp;Password</span>
            <input id="password" type="password" class="data" name="password1" title="password"/><br>
            <div class="flash left"></div>
            <div class="flash right"></div>
            <div class="flash-inactive"></div>
            <p class="error" id="pw-err"></p>
        </div>
        <div class="input-layer waypoint-side terminate">
            <span class="placeholder"><i class="ion-ios-locked"></i>&nbsp;&nbsp;Confirm password</span>
            <input id="password2" type="password" class="data" name="password2" title=" confirm password"/><br>
            <div class="flash"></div>
            <div class="flash-inactive"></div>
            <p class="error" id="pw2-err"></p>
        </div>
        <p class=" container medium-description waypoint" style="color: #3d8aff">Classification information</p>
        <div class="container limit-width" style="height: 60px">
            <div class="input-layer select-layer" tabindex="0">
                <select class="select" id="gender" name="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <p class="error" id="gn-err"></p>
            </div>
            <div class="input-layer select-layer" tabindex="0">
                <select id="country" name="country">
                    {% for country in form.countries %}
                        <option value="{{ country.id }}">
                            <img class="flag-img" alt="{{ country.name }}" src="{{ country.flag_img }}">
                            {{ country.name }}
                        </option>
                    {% endfor %}
                </select>
                <p class="error" id="ct-err"></p>
            </div>
        </div>
        <div class="container limit-width">
            <div class="input-layer select-layer" style="width: 100%" tabindex="0">
                <select class="select" id="institution" name="institution">
                    <option value="">Select Institution</option>
                    {% for institution in form.institutions %}
                        <option value="{{ institution.id }}">{{ institution.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <p class="error limit-width" id="it-err"></p>
        <p class="container limit-width waypoint small-description">
            If your institution is not available fill in the other section below
        </p>
        <div class="input-layer waypoint-side">
            <span class="placeholder">Other</span>
            <input id="new_institution" type="text" class="data" name="new_institution"/><br>
            <div class="flash left"></div>
            <div class="flash right"></div>
            <div class="flash-inactive"></div>
            <p class="error" id="ot-err"></p>
        </div>
        <div class="container limit-width">
            <div class="input-layer waypoint-side" style="width: 60%">
                <span class="placeholder placeholder-hidden"><i
                        class="ion-calendar"></i>&nbsp;&nbsp;Date of birth</span>
                <input id="date_of_birth" type="date" class="data" name="date_of_birth" title="date of birth"/>
                <br>
                <div class="flash"></div>
                <div class="flash-inactive"></div>
                <p class="error" id="dob-err"></p>
            </div>
            <p class="small-description container" id="age-val" style="width: 40%;align-items: center">Age:&nbsp;
                <span class="blue"></span></p>
        </div>
        <p class="container limit-width small-description waypoint">
            You can select multiple skills and they will appear below.
        </p>
        <div class="container limit-width">
            <div class="input-layer select-layer" style="width: 100%" tabindex="0">
                <select class="select" id="skill-select" name="skill-select">
                    <option value="Coding">Coding</option>
                    <option value="Critical thinking">Critical thinking</option>
                    <option value="Graphic design">Graphic design</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Marketing">Marketing</option>
                </select>
                <p class="error" id="sk-err"></p>
            </div>
        </div>
        <div id="skill-tags" class="container limit-width tag-container waypoint">
            <input id="skill" name="skill" hidden>
        </div>
        <div class="container" style="margin:60px 0 60px 0">
            <input type="submit" id="submit" hidden>
            <button id="pre-submit" class="blue-btn" style="height: 35px">Finish registration</button>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src={% static "js/validators.js" %}></script>
{% endblock %}